@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Rounded:wght@500&display=swap');

body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* Color */
  	--color-white: #fff;
  	--color-black: #000;
  	--color-gray: rgba(255, 255, 255, 0.75);
  	--color-royalblue: #007aff;
  	--color-darkslategray-100: rgba(60, 60, 67, 0.6);
  	--color-darkslategray-200: rgba(60, 60, 67, 0.36);
  	
  	/* Gap */
  	--gap-8: 8px;
  	
  	/* BorderRadius */
  	--br-100: 100px;
  	
  	/* Font */
  	--font-sf-pro-text: SF Pro Text;
  	--font-sf-pro-display: SF Pro Display;
  	--font-sf-pro-rounded: SF Pro Rounded;
  	
  	/* FontSize */
  	--font-size-11: 11px;
  	--font-size-12: 12px;
  	--font-size-15: 15px;
  	--font-size-22: 22px;
  	
}
