.contextMenu {
    width: 100%;
    position: relative;
    backdrop-filter: blur(48px);
    border-radius: 13px;
    background-color: var(--color-gray);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 17px;
    color: var(--color-black);
    font-family: var(--font-sf-pro);
  }
  .tableViewRow {
    align-self: stretch;
    position: relative;
    height: 44px;
    cursor: pointer;
    user-select: none;
  }
  .tableViewRow:hover { filter: brightness(0.98); }
  .tableViewRow:active { opacity: 0.8; }
  .tableViewRowLeft {
    position: absolute;
    top: calc(50% - 22px);
    left: 0px;
    right: 44px;
    height: 44px;
  }
  .stack {
    position: absolute;
    top: calc(50% - 19px);
    left: 16px;
    height: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .title {
    position: relative;
    letter-spacing: -0.41px;
    line-height: 22px;
  }
  .separator0pt0ptIcon {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 100%;
    overflow: visible;
    height: 2px;
    transform: scale(1.5);
    transform-origin: center;
  }
  .row {
    position: absolute;
    top: calc(50% - 22px);
    right: 0px;
    width: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .tableViewRowRight {
    width: 44px;
    position: relative;
    height: 43px;
  }
  .arrow {
    position: absolute;
    top: calc(50% - 6.5px);
    right: 16px;
    width: 13px;
    height: 14px;
  }
  .icon {
    position: absolute;
    height: 98.57%;
    width: 60.77%;
    top: 3.18%;
    right: 0.35%;
    bottom: -1.75%;
    left: 38.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
